<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeper</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- MomentJS -->
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/moment-timezone-with-data.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Main script -->
    <script src="scripts/main.js"></script>
</head>
<body>
    <div class="container-fluid" ng-app="timekeeper" ng-controller="timekeeper">
        <h1>Timekeeper</h1>
        <div class="panel panel-info">
            <div class="panel-heading">Current Time</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Time Type</th>
                        <th>Time Value</th>
                    </tr>
                    <tr>
                        <td>Local Time</td>
                        <td>{{local()}}</td>
                    </tr>
                    <tr>
                        <td>UTC</td>
                        <td>{{utc()}}</td>
                    </tr>
                    <tr>
                        <td>Unix Timestamp</td>
                        <td>{{unix()}}</td>
                    </tr>
                    <tr>
                        <td>
                            Timezone:
                            <select id="tz-select" ng-model="timezone">
                            </select>
                        </td>
                        <td>{{custom()}}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Swatch_Internet_Time">
                                Swatch Internet Time
                            </a>
                        </td>
                        <td>{{swatch()}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Compare Time Zones</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Timezone 1</h3>
                        Timezone: <select id="tz-select-left" ng-model="timezone_left"></select> <br />
                        Date: <input type="datetime-local" ng-model="datetime_left" /><br/>
                    </div>
                    <div class="col-sm-6">
                        <h3>Timezone 2</h3>
                        Timezone: <select id="tz-select-right" ng-model="timezone_right"></select><br/>
                        Date: {{time_right()}}
                    </div>
                </div>
                <div class="text-center">
                    <h3>{{tz_diff()}}</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
